@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Merriweather:ital,wght@1,700&family=Poppins:wght@400;600;700;800&family=Roboto:ital,wght@1,400;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}
a,
li {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
}
header,
section,
footer {
  padding: 2rem 9%;
}

/* Home */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #e3e6f3;
  z-index: 999;
  padding: 1rem 9%;
  box-shadow: 0 0 5px 5px #d5d5db;
}
.home .navigation a {
  padding-left: 1.7rem;
  position: relative;
}
.home .navigation a:hover {
  color: blue;
}
.home .navigation a:hover::after,
.home .navigation a.active::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: blue;
  bottom: -4px;
  left: 9px;
}
.home .navigation a.none::after {
  width: 0;
}
.home .navigation #close {
  display: none;
}
.home .icon-sqare a i {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: white;
  background-color: green;
}
.home .icon-sqare a i:hover {
  background-color: #d5d5db;
  color: black;
}
.home .icon-sqare {
  display: none;
}

/* Hero of section */
.hero-section {
  display: flex;
  align-items: center;
  height: 120vh;
  width: 100%;
  background: url("src/images/hero4.png") no-repeat;
  background-position: top 25% right 0;
  background-size: cover;
}
.p1-hero {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0.6rem 0;
}
.hero-section .content-hero h2 {
  font-size: 3.5rem;
  color: yellow;
}
.hero-section .content-hero h2 span {
  color: transparent;
  background: linear-gradient(to left, rgb(44, 184, 149), rgb(166, 215, 211));
  -webkit-background-clip: text;
}
.hero-section .content-hero a > p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  font-weight: 700;
  color: red;
}
.hero-section .content-hero .btn-hero {
  background: url(src/icons/button.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 999;
  padding: 1rem 5rem;
  font-weight: bold;
}

/* Payment Card */
#payment .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
.box-container .box {
  padding: 2rem 3rem;
  background-color: #e3e6f3;
  box-shadow: 2px 2px 2px 2px rgb(235, 231, 231);
  text-align: center;
  border-radius: 0.5rem;
  width: 150px;
}
.box-container .box img {
  width: 80px;
  height: 70px;
}
.box-container .box h3 {
  margin-top: 1rem;
  padding: 0.5rem 0.2rem;
  border-radius: 0.5rem;
}

/* -----------Product--------- */
.product {
  text-align: center;
}
.product .box-container-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.product .box-container-product .small-box {
  border: 0.1rem solid rgb(211, 210, 210);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px 5px rgb(190, 199, 200);
}
.product .box-container-product .small-box:hover {
  background-color: #e3e6f3;
  transform: scale(0.9);
}
.product > h2 {
  font-size: 3rem;
  margin-top: 7rem;
  text-align: center;
  line-height: 2;
  letter-spacing: 1rem;
}
.product > p {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.product .box-container-product .small-box > img {
  max-width: 100%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.product .box-container-product .small-box .content-product {
  text-align: start;
}
.product .box-container-product .small-box .content-product > h5 {
  font-size: 1.1rem;
  margin-top: 0.3rem;
}
.product .box-container-product .small-box .content-product .star > i {
  color: goldenrod;
  line-height: 1.8;
}
.product .box-container-product .small-box .icon-circle {
  display: flex;
  justify-content: space-between;
}
.product .box-container-product .small-box .icon-circle .price {
  color: green;
  font-weight: 700;
}
.product .box-container-product .small-box .icon-circle i {
  color: green;
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: lightgreen;
  border-radius: 50%;
}
.product .box-container-product .small-box .icon-circle i:hover {
  background-color: white;
}

/* ---------Banner--------- */
#banner {
  text-align: center;
  margin-top: 10rem;
  background: url("src/images/b2\ \(2\).jpg");
  width: 100%;
  line-height: 2;
}
#banner h4 {
  color: white;
}
#banner h2 {
  color: white;
  font-size: 2.5rem;
}
#banner h2 > span {
  color: transparent;
  background: linear-gradient(to right, rgb(229, 90, 115), rgb(103, 37, 37));
  -webkit-background-clip: text;
}
#banner > button {
  margin-top: 0.8rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  border: 0;
}
#banner > button:hover {
  background-color: green;
  color: white;
}

/* ---------Banner1-------- */
#sm-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 5rem;
}
#sm-banner .bannner-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(src/images/b17.jpg) no-repeat;
  max-width: 640px;
  height: 40vh;
  padding: 0 3rem;
  background-position: center;
  background-size: cover;
}
#sm-banner .banner-box2 {
  background: url(src/images/b10.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
#sm-banner .bannner-box1 > h2 {
  font-size: 2.5rem;
  color: white;
  line-height: 1.6;
  letter-spacing: 0.5rem;
}
#sm-banner .bannner-box1 > p {
  font-size: 1.5rem;
  color: white;
}
#sm-banner .bannner-box1 > span {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1.5rem;
}
#sm-banner .bannner-box1 > button {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
#sm-banner .bannner-box1 .btn-outline {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#sm-banner .bannner-box1 > button:hover {
  background-color: green;
}

/* ---------Banner Of Image */
#sm-banner-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 0.9rem;
  justify-content: center;
  align-items: center;
}
#sm-banner-1 .banner-img-1 {
  background: url("src/images/b7\ \(1\).jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 405px;
  height: 30vh;
  padding: 0 2rem;
}
#sm-banner-1 .banner-img-2 {
  background: url("src/images/b4\ \(1\).jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
#sm-banner-1 .banner-img-3 {
  background: url(src/images/b18.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
#sm-banner-1 .banner-img-1 > h2 {
  font-size: 2rem;
  color: white;
  line-height: 2;
}
#sm-banner-1 .banner-img-1 > p {
  font-size: 1.4rem;
  font-weight: 800;
  color: red;
}

/* --------Banner of Email */
#banner-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 22, 67);
  margin-top: 3rem;
}
#banner-1 .banner-content > h2 {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.5rem;
  line-height: 2;
}
#banner-1 .banner-content > p {
  font-size: 1.3rem;
  color: white;
}
#banner-1 .banner-content > p > span {
  color: transparent;
  background: linear-gradient(to left, rgb(207, 187, 163), rgb(206, 102, 46));
  -webkit-background-clip: text;
  font-weight: 900;
}
#banner-1 .btn-email {
  display: flex;
  padding: 2rem 0;
}
#banner-1 .btn-email input {
  padding: 1rem;
  width: 300px;
  border: 0;
  outline: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}
#banner-1 .btn-email > button {
  color: white;
  background-color: rgb(9, 147, 179);
  padding: 0.8rem 2rem;
  border: 0;
  outline: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

/* --------Footer-------- */
#footer {
  background-color: #e5e7e9;
}
.footer-contaner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding: 4rem 0;
}
.footer-contaner .footer-box > img {
  margin-bottom: 2rem;
}
.footer-contaner .footer-box > h4 {
  font-size: 1.3rem;
  line-height: 3;
}
.footer-contaner .footer-box h5 {
  font-size: 1.2rem;
  line-height: 1.7;
}
.footer-contaner .footer-box h5 span {
  font-weight: 100;
}
.footer-contaner .footer-box > h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-contaner .footer-box .icon-footer > span i {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: greenyellow;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.footer-contaner .footer-box .icon-footer > span i:hover {
  color: white;
  background-color: black;
}
.footer-contaner .footer-box .about,
.myaccount,
.install {
  margin-bottom: 1.5rem;
}
.footer-contaner .footer-box ul li a {
  line-height: 1.7;
}
.footer-contaner .footer-box .install-p {
  margin-bottom: 1.5rem;
}
.footer-contaner .footer-box .footer-btn {
  display: flex;
  gap: 1rem;
}
.footer-contaner .footer-box .footer-btn > button p {
  font-size: 1rem;
}
.footer-contaner .footer-box .footer-btn > button i {
  font-size: 2.5rem;
}
.footer-contaner .footer-box .footer-btn > button:nth-child(1) {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 3.5rem;
  background-color: lightgreen;
  border-radius: 0.5rem;
  border: none;
}
.footer-contaner .footer-box .footer-btn > button:nth-child(2) {
  display: flex;
  gap: 0.7rem;
  padding: 1rem 2.8rem;
  background-color: lightgreen;
  border-radius: 0.5rem;
  border: 0;
  align-items: center;
}
.footer-contaner .footer-box .footer-btn button h4 {
  font-size: 1rem;
}
.footer-contaner .footer-box .footer-btn > button:hover {
  background-color: lightgray;
  color: blue;
}
.footer-contaner .footer-box p {
  margin: 1rem 0;
}
#footer > p {
  font-size: 1.5rem;
  text-align: center;
}

/* --------page of header-------- */
.page-header {
  background: url("src/images/b1.jpg");
  background-position: center;
  width: 100%;
  height: 40vh;
}
.page-header .content-hero {
  position: relative;
  top: 45%;
  text-align: center;
}
.page-header .content-hero > h2 {
  font-size: 3rem;
  color: white;
  line-height: 2;
  letter-spacing: 1rem;
}
.page-header .content-hero > a > p {
  letter-spacing: 0.5rem;
  color: white;
}

/* -------pagination-------- */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#pagination a {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: green;
  border-radius: 0.5rem;
  color: white;
}
#pagination a:hover {
  background-color: #d5d5db;
  color: black;
}

/* -------Product Detail------- */
.detail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  margin-top: 10%;
}
.detail-container .mg-detail {
  max-width: 40%;
}
.sm-img-container {
  display: flex;
  justify-content: space-between;
}
.box-img {
  flex-basis: 24%;
  cursor: pointer;
}
.detail-container .detail-content h2:nth-child(1) {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}
.detail-container .detail-content .price-detail {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.detail-container .detail-content select {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  outline: 0;
}
.detail-container .detail-content input {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  outline: 0;
}
.detail-container .detail-content button {
  padding: 0.8rem 2.5rem;
  background-color: green;
  color: white;
  border: 0rem solid #d5d5db;
  margin-bottom: 2.5rem;
}
.detail-container .detail-content button:hover {
  background-color: #d5d5db;
  color: black;
}
.detail-container .detail-content h2:not(:nth-child(1)) {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.detail-container .detail-content p {
  font-size: 1.6rem;
}

/* ---------Blog Header */
.blog-header {
  background: url("src/images/b19.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-top: 7rem;
  position: relative;
  gap: 2rem;
}
.blog-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blog-container .blog-content > h2 {
  font-size: 2rem;
  line-height: 2;
}
.blog-container .blog-content > p {
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}
.blog-container .blog-content > h3 {
  font-size: 1.4rem;
  position: relative;
}
.blog-container .blog-content > h3:hover {
  color: blue;
}
.blog-container .blog-content > h3::after {
  content: " ";
  width: 50px;
  height: 1px;
  background-color: blue;
  position: absolute;
  top: 15px;
  left: 150px;
}
.blog-container .img-num > h1 {
  position: absolute;
  top: -65px;
  left: 0;
  font-size: 7rem;
  color: #c9cbce;
  z-index: -9;
}

/* ---------About--------- */
.about-header {
  background: url("src/icons/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
}
#about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: center;
  gap: 2rem;
}
#about > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
#about .about-content > h2 {
  font-size: 3rem;
  line-height: 2;
}
#about .about-content > p,
abbr {
  font-size: 1.3rem;
}
#about .about-content > marquee {
  margin-top: 1.4rem;
  font-size: 1.4rem;
}

/* ---------About of Video--------- */
#about-video {
  text-align: center;
}
#about-video > h2 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
#about-video > h2 > span {
  color: transparent;
  background: linear-gradient(to right, rgb(190, 78, 78), rgb(224, 157, 157));
  -webkit-background-clip: text;
}
#about-video .video > video {
  max-width: 50%;
  height: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

/* ---------Contact---------- */
#contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  align-items: center;
}
#contact .contact-detail > h2 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}
#contact .contact-detail > h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#contact .contact-detail .lists-contact .link-contact {
  color: gray;
  line-height: 2;
}
#contact .contact-detail .lists-contact .link-contact i {
  margin-right: 2rem;
}
#contact .contact-map > iframe {
  max-width: 100%;
}

/* --------Contact Register-------- */
/* .contact-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}
.contact-container .register > h2{
  font-size: 1.8rem;
  margin: 1.7rem 0;
}
/* .contact-container .register{
  display: flex;
  flex-direction: column;
  width: 80%;
} */
/* .contact-container .register input,textarea{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.3rem 1rem;
  outline: 0; 
} */
.contact-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem 0;
  gap: 2rem;
  border: 1px solid #e1e3e1;
  padding: 5rem 2rem;
}
.contact-container .register {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-container .register > h2 {
  font-size: 1.7rem;
  margin: 1.5rem 0;
}
.contact-container .register input,
textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 2rem;
  border: 1px solid #e1e3e1;
  border-radius: 0.5rem;
}
.contact-container .register > button {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  border: 1px solid #e1e3e1;
  border-radius: 0.5rem;
}
.contact-container .register > button:hover {
  color: white;
  background-color: green;
}
.contact-container .contact-person .box-person {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
}
.contact-container .contact-person .box-person .contact-content > h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.contact-container .contact-person .box-person .contact-content p {
  font-size: 1.3rem;
  line-height: 2;
}

@media screen and (max-width: 912px) {
  .hero-section {
    height: 110vh;
    background-position: top 30% right 25%;
  }
  .detail-container {
    margin-top: 20%;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .register {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .home .icon-sqare {
    display: block;
  }
  .home .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0 0 10px;
    transition: 0.3s linear;
  }
  .home .navigation a {
    margin-bottom: 2.5rem;
  }
  .home .navigation.active {
    right: 0;
  }
  .home .navigation #close {
    display: flex;
    position: absolute;
    top: 1.5rem;
  }
  .home .navigation #close i {
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.6rem;
    text-align: center;
    background-color: green;
    border-radius: 0.5rem;
    color: white;
    transition: 0.2s;
  }
  .home .navigation #close i:hover {
    color: black;
    background-color: #d5d5db;
  }
  /* .home .navigation.active {
    display: block;
  } */
  .hero-section {
    height: 100vh;
    background-position: top 40% right 15%;
  }
  #sm-banner {
    flex-direction: row;
    max-width: 100%;
  }
  #banner-1 {
    flex-direction: column;
  }
  .detail-container {
    margin-top: 20%;
  }
  #about-video .video > video {
    max-width: 100%;
    height: 100%;
  }
}
/*------------ Color -----------*/
.pink {
  background-color: pink;
  color: green;
}
.green {
  background-color: lightgreen;
  color: green;
}
.light-sea {
  background-color: rgb(182, 226, 254);
  color: green;
}
.light-blue {
  background-color: lightblue;
  color: green;
}
.light-red {
  background-color: rgb(251, 209, 209);
  color: green;
}
.light-yellow {
  background-color: lightyellow;
  color: green;
}
